/* Swiper.scss (Updated) */
.charts-swiper-container {
  width: 100vw;
  min-width: 500px;
  margin: 0px auto;
  height: 100vh; /* Changed from 100vh to 50vh */
}

.chart-wrapper {
  /* Adjusted calc() to use 50vh */
  height: calc(80vh - 20px - 60px); 
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 70vw;
  margin: 30px auto;
  overflow-y: visible;
  min-width: 300px;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(4, 170, 109); 
  width: 40px; 
  height: 40px; 
  top: 50%; 
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 10px; 
}

.swiper-button-prev {
  left: 10px;
}

.swiper-pagination-bullet {
  background-color: gray; 
  width: 12px;
  height: 12px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: rgb(4, 170, 109); 
  opacity: 1;
}
