table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  width: 80vw;
}
tbody{
    display: block;
    height:600px;
    overflow: auto;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  min-width: 200px;
  width: 100%;
}
tr{
    display: block;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

